# Normalize line endings to LF in the repository
* text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary
*.otf binary
*.pdf binary
*.mp3 binary
*.mp4 binary
*.webm binary
*.ogg binary
*.wav binary
*.zip binary
*.rar binary
*.gz binary
*.tar binary
*.7z binary
*.rar binary
*.tar.gz binary
*.tgz binary
*.bz2 binary
*.xz binary
*.7z binary
*.dmg binary
*.iso binary
*.flv binary
*.mkv binary
*.avi binary
*.wmv binary
*.mov binary
*.mpg binary
*.mpeg binary
*.mp4 binary
*.webm binary
*.ogv binary
*.ogm binary
*.qt binary
*.flv binary
*.swf binary
*.mkv binary
*.webm binary
*.ogv binary
*.ogm binary
*.qt binary
*.flv binary
*.swf binary
*.mp4 binary
*.webm binary
*.ogv binary
*.ogm binary
*.qt binary
*.flv binary
*.swf binary
*.mp4 binary
*.webm binary
*.ogv binary
*.ogm binary
*.qt binary
*.flv binary
*.swf binary
*.mp4 binary
*.webm binary
*.ogv binary
*.ogm binary
*.qt binary
*.flv binary
*.swf binary
*.mp4 binary
*.webm binary
*.ogv binary
*.ogm binary
*.qt binary
*.flv binary
*.swf binary
*.mp4 binary
*.webm binary
*.ogv binary
*.ogm binary
*.qt binary
*.flv binary
*.swf binary
*.mp4 binary
*.webm binary
*.ogv binary
*.ogm binary
*.qt binary
*.flv binary
*.swf binary
*.mp4 binary
*.webm binary
*.ogv binary
*.ogm binary
*.qt binary
*.flv binary
*.swf binary
*.mp4 binary
*.webm binary
*.ogv binary
*.ogm binary
*.qt binary
*.flv binary
*.swf binary
*.mp4 binary
*.webm binary
*.ogv binary
*.ogm binary